@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sixtyfour+Convergence&display=swap');
:root {
  --bs-danger-rgb: 236, 64, 122;
  --bs-font-sans-serif: "Lato", sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
}

a {
  text-decoration: none;
  color: #033D49;
}

/* General */
body {
  background-color: #F4F4F9;
}

/* Tipografía responsiva */
.titulo {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: bold;
  color: #033D49;
}

.titulo-seccion {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: bold;
  color: #033D49;
  margin-left: 2%;
  margin-top: 100px;
}

.subtitulo {
  font-size: clamp(1.75rem, 4vw, 3rem);
  font-weight: bold;
  margin-left: 2%;
  color: #033D49;
}

.subtitulo-seccion {
  font-size: clamp(1.5rem, 3.5vw, 2.5rem);
  font-weight: bold;
  margin-left: 2%;
  color: #033D49;
}

.subtitulo-card {
  font-size: clamp(1.25rem, 3vw, 2rem);
  font-weight: bold;
  color: #033D49;
}

.texto-parrafo {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  color: #033D49;
}

.texto-parrafo-bold {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: bold;
  color: #033D49;
}

.texto-mid {
  font-size: clamp(0.75rem, 2.2vw, 1rem);
  color: #033D49;
}

.texto-small {
  font-size: clamp(0.5rem, 2vw, 0.75rem);
  color: #033D49;
}

.texto-small-footer {
  font-size: clamp(0.5rem, 2vw, 0.75rem);
  color: #ffffff;
}

/* Fondo azul claro */ 
.fondo-azul-claro {
  background-color: #d6f0f5;
  width: 100%;
}

/* Navbar */
.navbar {
  position: fixed; /* Pegado a la parte superior */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center; /* Alineación vertical */
  justify-content: flex-start; /* Alinear los elementos a la derecha */
  padding: 20px 20px;
  gap: 20px;
  background-color: #033D49;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: semibold;
  margin-left: 20px; /* Espaciado entre los enlaces */
  transition: color 0.3s ease;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Botón del menú móvil */
.navbar-toggle {
  display: none; /* Ocultar el botón en escritorio */
  background: none;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Los enlaces y el botón en columna */
    align-items: flex-start; /* Alinear a la izquierda en móviles */
    padding: 10px;
  }

  .navbar a {
    display: none; /* Ocultar enlaces inicialmente */
    width: 100%; /* Ocupan todo el ancho */
    padding: 10px 0;
    text-align: left;
  }

  .navbar a.active {
    display: block; /* Mostrar los enlaces cuando estén activos */
  }

  .navbar-toggle {
    display: block; /* Mostrar el botón en móviles */
  }
}

/* Estilo para el contenedor del menú desplegable */
.navbar .dropdown {
  position: relative; /* Necesario para posicionar el submenú */
}

.navbar .dropdown-menu {
  display: none; /* Ocultar el submenú por defecto */
  position: absolute;
  top: 100%; /* Coloca el submenú justo debajo del enlace "Álbumes" */
  left: 0;
  background-color: #033D49;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Asegúrate de que el submenú esté encima de otros elementos */
}

.navbar .dropdown-menu li {
  padding: 10px 10px;
}

.navbar .dropdown-menu li a {
  text-decoration: none;
  color: #ffffff;
  display: block; /* Hacer que los enlaces ocupen todo el ancho */
  font-size: 16px;
  font-weight: semibold;
  transition: background-color 0.3s ease;
}

.navbar .dropdown-menu li a:hover {
  background-color: #1b5e65; /* Cambiar color al pasar el mouse */
}

/* Mostrar el submenú al pasar el mouse sobre el contenedor */
.navbar .dropdown:hover .dropdown-menu {
  display: block;
}


/* Carrusel */
#customCarousel {
  margin-top: 50px;
}

.carousel-item {
  display: none; /* Oculta los elementos no activos */
  flex-direction: row;
  height: 400px;
  align-items: stretch;
}

.carousel-item.active {
  display: flex;
}

.carousel-item .left,
.carousel-item .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.carousel-item .left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #d6f0f5;
}

.carousel-item .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  height: 100%; /* Asegura que ocupe todo el alto disponible */
}

.carousel-item .right img {
  width: 100%; /* Ajusta el ancho de la imagen al contenedor */
  height: 100%; /* Ajusta el alto de la imagen al contenedor */
  object-fit: cover; /* Hace que la imagen llene el espacio */
  display: block; /* Elimina cualquier espacio blanco extra */
}

/* Responsive */
@media (max-width: 768px) {
  .carousel-item {
    flex-direction: column; /* Cambia la dirección a columnas en pantallas pequeñas */
  }

  .carousel-item .left {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .carousel-item .right img {
    height: auto;
  }
}

/* Landing page */
.hero {
  height: 100vh;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #033D49;
}

@media (max-width: 768px) {
  .hero {
    height: 150vh;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #033D49;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Imágenes */
.grid-item img {
  width: 90%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-container-tour {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (max-width: 768px) {
  .grid-container-tour {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-item-tour {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.grid-item-tour img {
  width: 350px;
  height: 550px;
  object-fit: cover;
  border-radius: 10px;
}

/* Álbum */
#album {
  margin-top: 100px;
}

.album {
  padding: 50px 20px;
}

.album:nth-child(even) {
  background-color: #d6f0f5;
}

.album img {
  margin-left: 20px;
}

.album .row {
  padding-top: 20px;
}

/* Listado letra */
.listaCancion:hover{
  background-color: #d6f0f5;
  cursor: pointer;
}

/* Cards y grillas de videos */
.custom-card {
  background-color: #033D49 !important;
}

.custom-video {
  max-width: 1000px;
  margin: 0 auto; 
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.custom-video iframe {
  width: 100%; 
  height: 100%;
  border: none;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Dos columnas por defecto */
  gap: 15px; /* Espacio entre las tarjetas */
}

.custom-card {
  background-color: #033D49 !important;
}

.custom-video {
  max-width: 100%;
  margin: 0 auto; 
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.custom-video iframe {
  width: 100%; 
  height: 100%;
  border: none;
}

/* Responsividad: un solo video por fila en móviles */
@media (max-width: 768px) {
  .video-grid {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
}

/* Footer */
.bg-custom {
  background-color: #033D49;
}

/* Aplicamos un margen horizontal en pantallas pequeñas */
@media (max-width: 768px) {
  .margin-footer {
      padding-left: 1rem;
      padding-right: 1rem;
  }
}